.containerE {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.p1{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
  text-align: center;
  color: rgb(241, 239, 242);
}

.p2{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
  text-align: center;
    color: rgb(241, 239, 242);
}
