.contact-form {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 

  margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding: 0 auto;
    font-size: 32px;
}
.p1{
  text-align: center;
  color: rgb(241, 239, 242);
}

.p2{
  text-align: center;
    color: rgb(241, 239, 242);
}
