.containersm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
 
  }
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.grid-item {
    background-color: white; 
    border: solid cyan;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.hsm {
    text-align: center;
    color: rgb(241, 239, 242);
    font-size: 20;
  }
.myButton {
    background-color: #59007f;
    border: solid #7600a9;
    border-radius: 30px;
    color: white;
    font: 1.2rem "Fira Sans", sans-serif;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  